@popupArrowOffsetFromCorner: 5px;
@popupArrowHalfSize: 8px;
@popupShadowSpread: 4px;
@popupFakeShadowSize: .5 * @popupShadowSpread;
@popupArrowPositioningOffset: (2 * @popupArrowHalfSize);
@popupArrowShadowIndent: round(.75 * @popupShadowSpread);
@popupArrowShadowColor: darken(#dfdfdf, 15%);
@popupTextColor: #fff;
@popupBGColor: #333;
@block: ~".b-static-popup";

.auto-offsets () {
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

// this is the container to be hovered
@{block} {
    position: relative;

    // this is the container to position the popup to, OPTIONAL
    &__anchor {
        position: relative;
    }

    &__popup {
        font: normal 11px sans-serif;
        text-align: left;

        display: none;
        min-width: 150px;
        max-width: 550px;
        margin: 0;
        padding: 3px 5px;

        .auto-offsets;

        color: @popupTextColor;
        background-color: @popupBGColor;
        box-shadow: 0 0 @popupShadowSpread #666;

        z-index: 200;

        cursor: default;

        &_tight {
            padding: 0;
        }
    }

    &:hover &__popup,
    &_show &__popup {
        display: block;
    }

    &__popup:before,
    &__popup:after {
        display: block;
        width: 0;
        height: 0;

        .auto-offsets;

        border: solid @popupArrowHalfSize transparent;
        z-index: 99;
        content: "";
    }

    &__popup:before {
        border-width: @popupArrowHalfSize + @popupFakeShadowSize;
        border-color: transparent;
    }

    &_hidden:hover &__popup {
        display: none;
    }

    &_dir_right {
        @{block}__popup {
            top: -@popupArrowOffsetFromCorner;
            left: 100%;

            margin-left: @popupArrowHalfSize;
        }

        @{block}__popup:after {
            top: @popupArrowOffsetFromCorner;
            // Why +1?
            // Here and on: without this, FF has a rounding error when we scale a page with Ctrl+Plus,
            // which results in ugly grey 1-pixel gap between the arrow and the popup container.
            // After looking for some obvious fixes like adding an extra fractional part, I found
            // adding 1 to be the only quick solution.
            left: -@popupArrowPositioningOffset + 1;

            border-right-color: @popupBGColor;
        }

        @{block}__popup:before {
            top: @popupArrowOffsetFromCorner - @popupFakeShadowSize;
            left: -@popupArrowPositioningOffset - 2 * @popupFakeShadowSize;

            border-right-color: @popupArrowShadowColor;
        }
    }

    &_dir_left {
        @{block}__popup {
            top: -@popupArrowOffsetFromCorner;
            right: 100%;

            margin-right: @popupArrowHalfSize;
        }

        @{block}__popup:after {
            top: @popupArrowOffsetFromCorner;
            right: -@popupArrowPositioningOffset + 1;

            border-left-color: @popupBGColor;
        }

        @{block}__popup:before {
            top: @popupArrowOffsetFromCorner - @popupFakeShadowSize;
            right: -@popupArrowPositioningOffset - 2 * @popupFakeShadowSize;

            border-left-color: @popupArrowShadowColor;
        }
    }

    &_dir_bottom {
        @{block}__popup {
            margin-top: @popupArrowHalfSize;
        }

        @{block}__popup:after {
            top: -@popupArrowPositioningOffset + 1;
            left: @popupArrowOffsetFromCorner;

            border-bottom-color: @popupBGColor;
        }

        @{block}__popup:before {
            top: -@popupArrowPositioningOffset - 2 * @popupFakeShadowSize;
            left: @popupArrowOffsetFromCorner - @popupFakeShadowSize;

            border-bottom-color: @popupArrowShadowColor;
        }
    }

    &_dir_top {
        @{block}__popup {
            bottom: 100%;

            margin-bottom: @popupArrowHalfSize;
        }

        @{block}__popup:after {
            bottom: -@popupArrowPositioningOffset + 1;
            left: @popupArrowOffsetFromCorner;

            border-top-color: @popupBGColor;
        }

        @{block}__popup:before {
            bottom: -@popupArrowPositioningOffset - 2 * @popupFakeShadowSize;
            left: @popupArrowOffsetFromCorner - @popupFakeShadowSize;

            border-top-color: @popupArrowShadowColor;
        }
    }

    &_dir_top@{block}_align_center,
    &_dir_bottom@{block}_align_center {

        @{block}__popup {
            left: 50%;
        }

        @{block}__popup:after {
            left: 50%;
            margin-left: -1 * @popupArrowHalfSize;
        }

        @{block}__popup:before {
            left: 50%;
            margin-left: -1 * (@popupArrowHalfSize + @popupFakeShadowSize);
        }
    }

    &_dir_left@{block}_align_center,
    &_dir_right@{block}_align_center {
        @{block}__popup {
            top: 50%;
        }

        @{block}__popup:after {
            top: 50%;
            margin-top: -1 * @popupArrowHalfSize;
        }

        @{block}__popup:before {
            top: 50%;
            margin-top: -1 * (@popupArrowHalfSize + @popupFakeShadowSize);
        }
    }

    &_theme_light {
        @{block}__popup {
            color: #000;
            background-color: #fff;
        }

        &@{block}_dir_left @{block}__popup:after {
            border-left-color: #fff;
        }

        &@{block}_dir_right @{block}__popup:after {
            border-right-color: #fff;
        }

        &@{block}_dir_top @{block}__popup:after {
            border-top-color: #fff;
        }

        &@{block}_dir_bottom @{block}__popup:after {
            border-bottom-color: #fff;
        }
    }

    &_size_compact {
        @{block}__popup {
            min-width: 0;
            white-space: nowrap;
        }

        &@{block}_dir_top@{block}_align_center,
        &@{block}_dir_bottom@{block}_align_center {
            @{block}__popup {
                left: 0;
            }
        }
    }

    &_size_small {
        @{block}__popup {
            min-width: 150px;
        }

        &@{block}_dir_top@{block}_align_center,
        &@{block}_dir_bottom@{block}_align_center {
            @{block}__popup {
                margin-left: -75px;
            }
        }
    }

    &_size_normal {
        @{block}__popup {
            min-width: 250px;
        }

        &@{block}_dir_top@{block}_align_center,
        &@{block}_dir_bottom@{block}_align_center {
            @{block}__popup {
                margin-left: -125px;
            }
        }
    }

    &_size_large {
        @{block}__popup {
            min-width: 350px;
            word-wrap: break-word;
        }

        &@{block}_dir_top@{block}_align_center,
        &@{block}_dir_bottom@{block}_align_center {
            @{block}__popup {
                margin-left: -175px;
            }
        }
    }

    // unlike dir_top and dir_bottom modifiers, dir_left and dir_right
    // do not affect the way offsets are calculated for align_center
    &@{block}_dir_left@{block}_align_center,
    &@{block}_dir_right@{block}_align_center {
        @{block}__popup {
            margin-top: -50%;
        }
    }

}
